source "/home/kalata23/github/_espidf/esp-idf/components/app_trace/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/bt/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/driver/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/efuse/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp-tls/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_adc/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_common/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_eth/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_event/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_gdbstub/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_http_client/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_http_server/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_https_ota/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_https_server/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_hw_support/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_lcd/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_netif/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_phy/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_pm/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_psram/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_ringbuf/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_system/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_timer/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/esp_wifi/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/espcoredump/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/fatfs/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/freertos/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/hal/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/heap/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/ieee802154/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/log/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/lwip/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/mbedtls/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/mqtt/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/newlib/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/nvs_flash/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/openthread/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/protocomm/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/pthread/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/spi_flash/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/spiffs/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/tcp_transport/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/ulp/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/unity/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/usb/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/vfs/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/wear_levelling/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/wifi_provisioning/Kconfig"
source "/home/kalata23/github/_espidf/esp-idf/components/wpa_supplicant/Kconfig"
source "/home/kalata23/SVN/ESP32-SBC-FabGL/Software/trunk/Production_Test/tools/esp32s2-cookbook/ch32v003programmer/components/tinyusb/Kconfig"